<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78120127633-3b6aa6t6b3cc5b3fdp2h2g656b1skvc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78120127633-3b6aa6t6b3cc5b3fdp2h2g656b1skvc6</string>
	<key>API_KEY</key>
	<string>AIzaSyBn2iKfJz_kh8d4eYilWbN-YAGds1nMpGc</string>
	<key>GCM_SENDER_ID</key>
	<string>78120127633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bedirhankose.ImageShareApp</string>
	<key>PROJECT_ID</key>
	<string>imageshareapp-bb4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>imageshareapp-bb4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78120127633:ios:0e866cf5a57a4e4226c330</string>
</dict>
</plist>